<h1 align="center"><b>Transformación y Consultas Exploratorias</b>
<hr>

## Instalación de paquetes necesarios para la conexión a la base de datos desde Python

1. Instalación de instancias de Microsoft SQL Server 2017 para Linux
> Para poder conectarnos a una base de datos alojada en SQL SERVER (Microsoft) será necesario instalar ciertos paquetes necesarios, uno de ellos es la instancia a MSSQL 2017

In [5]:
#Crear e instalar instancia de Microsoft SQL Server 2017 para Linux
%%sh
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql17

OK
Hit:1 https://packages.microsoft.com/ubuntu/16.04/prod xenial InRelease
Ign:2 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Hit:3 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease
Hit:4 http://security.ubuntu.com/ubuntu bionic-security InRelease
Hit:5 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Ign:6 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Hit:7 http://archive.ubuntu.com/ubuntu bionic InRelease
Hit:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Hit:10 http://archive.ubuntu.com/ubuntu bionic-updates InRelease
Hit:11 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease
Hit:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
msodbcsql17 is already the newest version (17.6.1.1-1).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 54 not upgraded.

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: apt-key output should not be parsed (stdout is not a terminal)
100   983  100   983    0     0   7281      0 --:--:-- --:--:-- --:--:--  7281
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    79  100    79    0     0   1082      0 --:--:-- --:--:-- --:--:--  1097

2. Añadiendo paquetes ODBC para poder realizar las conexiones a la base de datos
> Este paquete nos permite crear una implementación de Open DataBases en Linux, de tal manera que nos podremos conectar a cualquier instancia de base de datos en cualquier servidor

In [6]:
# Añadir paquetes de ODBC para Linux
!sudo apt-get install unixodbc-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
unixodbc-dev is already the newest version (2.3.7).
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'sudo apt autoremove' to remove it.
0 upgraded, 0 newly installed, 0 to remove and 54 not upgraded.

3. Instalación del paquete PYODBC
> Este paquete nos permitirá crear una instancia a la base de datos, además de permitirnos usar los objetos Cursor, para poder realizar consultas, inserciones, eliminaciones, actualizaciones, a cualquier tabla, desde el notebook con Python.

In [7]:
# Instala el paquete de pyodbc para conectarnos y usar la base de datos desde python
!pip install pyodbc

Requirement already satisfied: pyodbc in /usr/local/lib/python3.6/dist-packages (4.0.30)

## Conexión a la Base de Datos

1. Creación de un objeto conexión y uso del objeto Cursor
> El primer paso para realizar una conexión a la base de datos es crear un objeto pyodbc el cual hará la conexión al servidor a través de su método CONNECT, el cual recibe como parametros: El driver de la base de datos (instalada la instancia previamente), el servidor que aloja la base de datos, el nombre de la base de datos o esquema, el usuario, contraseña y puerto.

In [8]:
import pandas as pd
import pyodbc
#Es un servidor propio de Rodrigo Quilcat Pesantes en AWS
#Por favor de no hackearlo ni hacer uso sin autorización
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'Server=m1-metropolitano.cr1mpbwkf46h.us-east-2.rds.amazonaws.com;'
                      'Database=Mainframes;'
                      'UID=mainframes;'
                      'PWD=upao2020;'
                      'TDS_Version=8.0;'
                      'Port=1433;')
cursor = conn.cursor()

## Consultas Exploratorias

1. Consulta exploratoria a Tweets

In [9]:
cons_1 = pd.read_sql_query("SELECT TOP 10 * FROM Tweets ", conn)
cons_1

   Date_Tweet  ...        ScreenName
0  2020-08-11  ...      @Pagecamper1
1  2020-08-11  ...   @DebbieNunn1234
2  2020-08-11  ...    @darthyoshiboy
3  2020-08-11  ...    @SevereSeverus
4  2020-08-11  ...  @markgoo80547801
5  2020-08-11  ...         @ccokermn
6  2020-08-11  ...     @Arcane__Lost
7  2020-08-11  ...       @malatrix63
8  2020-08-11  ...          @4n3n2n1
9  2020-08-11  ...          @VDubese

[10 rows x 4 columns]

2. Consulta exploratoria a Usuarios

In [10]:
cons_2 = pd.read_sql_query("SELECT TOP 10 * FROM Usuarios", conn)
cons_2

       ScreenName                         FullName
0      @__imritik                         Ritikkrm
1      @_1_last_1                            Binod
2  @_abdul_hadi_1                       Abdul hadi
3        @_BeHuda                      MaalKin­ƒìü
4        @_dhays2                          D. Hays
5       @_DPSingh                              DPS
6      @_dtg_84__                           dg2k20
7       @_javeri_                           Kaveri
8        @_kash_v  Optimus Sub-Prime: Debtcepticon
9          @_m396                           Mel...

3. Consulta exploratoria al detalle de usuario

In [11]:
cons_3 = pd.read_sql_query("SELECT TOP 10 * FROM Usuarios_Detalle", conn)
cons_3

         ScreenName  ...                                                Bio
0      @geometryfan  ...                                               None
1     @kz1300a4_lee  ...                                               None
2  @PrincessBibiRF_  ...  International Buyer with Patents, Business, Ma...
3        @assouu___  ...               Je sais qui sont les fakes.21 yr­ƒÄé
4   @AnthonyAggie17  ...  FTA Class of 2017 | Army Engineer | Married up...
5      @CoastalCndn  ...  Atheist ­ƒç¿­ƒçª #AdoptDontShop I was a much n...
6      @surge4earth  ...  ÔÜí4 ­ƒîÄ Major tree hugger­ƒî¦, nonliberal de...
7        @lynsnyds1  ...  Retired nurse, veteran, wife, mother and Grand...
8         @Midge150  ...  Fabulous! From Ireland ­ƒç«­ƒç¬ American Citiz...
9   @the_sailor_dog  ...  Naval Strategist, I embrace the maritime domai...

[10 rows x 6 columns]

4. Consulta exploratoria al detalle de tweets

In [12]:
cons_4 = pd.read_sql_query("SELECT TOP 10 * FROM Tweets_Detalle", conn)
cons_4

               TweetID  Retweets  Favorites                  App
0  1293673804787593216         0          0     Twitter for iPad
1  1293673783165882374         0          0      Twitter Web App
2  1293673750408433667         1          1      Twitter Web App
3  1293673745148764160         0          0   Twitter for iPhone
4  1293673669236002819         0          0  Twitter for Android
5  1293673516512899072         0          0      Twitter Web App
6  1293673491737313281         0          0  Twitter for Android
7  1293673475962548234         0          0   Twitter for iPhone
8  1293673431657902080         0          0   Twitter for iPhone
9  1293673417690898432         0          0      Twitter Web App

5. Seleccionar el detalle de un Usuario especifico

In [13]:
cons_5 = pd.read_sql_query("SELECT * FROM Usuarios_Detalle WHERE ScreenName = '@adaptiveoptics'", conn)
cons_5

        ScreenName  ...                                       Bio
0  @adaptiveoptics  ...  Systems, writing, yoga ig:adaptiveoptics

[1 rows x 6 columns]

6. Seleccionar los tweets pertenecientes a un Usuario especifico

In [14]:
cons_6 = pd.read_sql_query("SELECT * FROM Tweets WHERE ScreenName = '@adaptiveoptics'", conn)
cons_6

   Date_Tweet  ...       ScreenName
0  2020-08-12  ...  @adaptiveoptics

[1 rows x 4 columns]

7. Ordenar Usuarios por fecha de creación

In [15]:
cons_7 = pd.read_sql_query("SELECT FullName FROM Usuarios ORDER BY FullName ASC", conn)
cons_7

                                               FullName
0                       """We Are The Future"" Academy"
1     "alice ­ƒç¦­ƒç© ""All roads lead to Putin"" ­ƒ...
2     "Black Widow­ƒç¦­ƒç©""Doc""­ƒç¦­ƒç©How will th...
3                         "Bye, BYE; HARLEY-DAVIDSON !"
4     "IrRev. Bruce Allan Ross-LLAPH ""An Ocean Of E...
...                                                 ...
2670  ðöð¥ð+ÐÇð¥Ðüð©ÐéðÁ ðôð¦ð+ð¦ð¦ÐÇð©Ðìð+Ðî ÔØñÔ£è...
2671                              ðôð¥ÐÇðÁÐüÐé ðñÐèð+ð+
2672                                 ðØð¦ÐéÐàð¢ðÁð¢ð¢ÐÅ
2673                       ðôð¦Ðìð¢ðÁÐçð¦a ­ƒç¦­ƒç©­ƒÑü
2674                                       ÞÁñÕ¦®ÒÇÇµ¦+

[2675 rows x 1 columns]

8. Ordenar Usuarios por nombres que empiecen con la letra 'A'

In [16]:
cons_8 = pd.read_sql_query("SELECT Fullname FROM Usuarios WHERE FullName LIKE '[A]%' ORDER BY FullName ASC", conn)
cons_8

                               Fullname
0                            A de Weert
1    A fatal exception has occurred....
2                   A QUESTION OF TRUST
3                                 A Rob
4           A Voice For Choice Advocacy
..                                  ...
167                     Aux Fronti+¿res
168                       AWhitneyBrown
169                    Ayanamatata ­ƒÆ£
170                               Ayman
171                        Azizi Anaita

[172 rows x 1 columns]

9. Exploración de cuantos usuarios tienen una cuenta sin una locación asociada

In [17]:
cons_9 = pd.read_sql_query("SELECT COUNT(*) as SinLocation FROM Usuarios_Detalle WHERE Location IS NULL", conn)
cons_9

   SinLocation
0          902

10. Seleccion de Usuario con mayor Numero de seguidores

In [18]:
cons_10 = pd.read_sql_query("SELECT * FROM Usuarios_Detalle WHERE Followers = (SELECT MAX(Followers) FROM Usuarios_Detalle)", conn)
cons_10

  ScreenName  ...                                                Bio
0       @CNN  ...  ItÔÇÖs our job to #GoThere & tell the most dif...

[1 rows x 6 columns]

11. Seleccion de Usuarios con menor Numero de seguidores

In [19]:
cons_11 = pd.read_sql_query("SELECT * FROM Usuarios_Detalle WHERE Followers = (SELECT MIN(Followers) FROM Usuarios_Detalle)", conn)
cons_11

          ScreenName  ...                                                Bio
0   @Brandon20105199  ...       IÔÇÖm just a YouTuber subscribe to xdnikeman
1   @JamesCharlesWa7  ...  I am a young man who is black and who is tryin...
2   @Christ_Will_Iam  ...  "I am Jesus Christ. Police/government official...
3   @Vincent94077438  ...  A Firm Believer in the Lord Jesus Christ & Com...
4   @Vincent94077438  ...  A Firm Believer in the Lord Jesus Christ & Com...
5   @Vincent94077438  ...  A Firm Believer in the Lord Jesus Christ & Com...
6     @RahmanOfIndia  ...  After completing one mission of my life,i want...
7   @Stephen76948225  ...                                               None
8           @JSemkiv  ...                                               None
9           @JSemkiv  ...                                               None
10     @hemanttnameh  ...                                               None
11          @JSemkiv  ...                                               None
12          @JSemkiv  ...                                               None
13           @Sm411R  ...                                               None
14      @moremitmita  ...                                               None
15     @delusional_u  ...                                               None
16     @delusional_u  ...                                               None
17      @pipster6611  ...                                               None
18  @larry_cavallaro  ...                                         Enjoy life
19  @Chantal71279306  ...  Ms. Boucher is responsible for establishing a ...
20  @MarkRob27725775  ...                                        Loving life
21  @MarkRob27725775  ...                                        Loving life
22  @BEKHTAOUIYOUSS3  ...  Hi,evryone My name is Youssef Hello Our page i...
23  @5evahlovingLANY  ...  "Female/single/BSIT ­ƒÄô;major in system devel...
24  @shafayethosse15  ...  i am Hossen, lived in Bangladesh, i like to si...
25       @BootsieCup  ...                                               None
26    @SeaChelonSand  ...  positivity, introvert, architecture, art, psyc...
27           @meefro  ...                       Professional society for you
28        @BlumeYuki  ...                                               None
29    @Diane89087714  ...                   I love taking care of people....
30  @fuckinshithouse  ...                            IÔÇÖm just here to rant
31  @xqOCodJiWHEfDdK  ...                                  World politicians
32      @MartyBanton  ...                                               None
33     @JohnnyManny6  ...           multitalkies multiculties like it or not
34     @ruraltechies  ...              techie...philanthropist with no money
35      @xquarepants  ...         young dumb & broke. I read a lot of stuff.
36      @A1Gurukulam  ...                                               None
37  @ForInformatio17  ...                                 information tweets
38  @Billzy846091241  ...                                    still breathing
39     @Kurt43112867  ...                     Polymath, SigmaMale,Pro-Slavic
40    @harlanhayes78  ...                                               None
41    @indepdthinker  ...  seeker of truth, Army Brat, married 38years, m...
42  @Ericwsommervil1  ...                       on the search up information
43       @Bv23451353  ...                                               None
44    @CharlesSundog  ...  I am part of the deep poverty-stricken area of...
45        @macksalt1  ...                                               None
46        @tabriggs8  ...                                               MALE
47    @CharlesSundog  ...  I am part of the deep poverty-stricken area of...
48          @crbobba  ...  Promote and encourage YOUNG to live life in an...
49          @crbobba  ...  Promote and encourage YOUNG to live life in an...
50    @playboyhakan_  ...  A-ƒao-ƒlu holding chelseafenerbah+ºesorti eyap...
51      @Chunterking  ...                  Please Impeach Trump please!!!!!!
52  @brettfosterwhi1  ...  I'm just a man who enjoys writing and guitar. ...

[53 rows x 6 columns]

12. Seleccion de la info completa de un tweet

In [20]:
cons_12 = pd.read_sql_query("SELECT * FROM Tweets t INNER JOIN Tweets_Detalle td on td.TweetID = t.TweetID", conn)
cons_12

      Date_Tweet  ...                  App
0     2020-08-11  ...   Twitter for iPhone
1     2020-08-11  ...  Twitter for Android
2     2020-08-11  ...      Twitter Web App
3     2020-08-11  ...      Twitter Web App
4     2020-08-11  ...  Twitter for Android
...          ...  ...                  ...
2891  2020-08-12  ...  Twitter for Android
2892  2020-08-12  ...   Twitter for iPhone
2893  2020-08-12  ...      Twitter Web App
2894  2020-08-12  ...      Twitter Web App
2895  2020-08-12  ...     Twitter for iPad

[2896 rows x 8 columns]

13. Seleccion de los usuarios mas antiguos

In [21]:
cons_13 = pd.read_sql_query("SELECT TOP 1 u.FullName, u.ScreenName, ud.UserSince, ud.Location FROM Usuarios u INNER JOIN Usuarios_Detalle ud ON u.ScreenName = ud.ScreenName ORDER BY UserSince ASC", conn)
cons_13

  FullName ScreenName   UserSince Location
0  michael   @MParekh  2006-07-16     None

14. Seleccion del usuario mas reciente

In [22]:
cons_14 = pd.read_sql_query("SELECT TOP 1 u.FullName, u.ScreenName, ud.UserSince, ud.Location FROM Usuarios u INNER JOIN Usuarios_Detalle ud ON u.ScreenName = ud.ScreenName ORDER BY UserSince DESC", conn)
cons_14

    FullName        ScreenName   UserSince Location
0  Brandon K  @Brandon20105199  2020-08-12     None

15. Seleccion del total de plataformas mas utilizada para twitear

In [23]:
cons_15 = pd.read_sql_query("SELECT App, COUNT(App) as Total FROM Tweets_Detalle GROUP BY App ORDER BY Total DESC", conn)
cons_15

                     App  Total
0        Twitter Web App    997
1     Twitter for iPhone    761
2    Twitter for Android    697
3       Twitter for iPad    139
4              TweetDeck     50
..                   ...    ...
75   KBYzanetWPtoTwitter      1
76      breaking-news.it      1
77         AJR First App      1
78            Zapier.com      1
79  Flamingo for Android      1

[80 rows x 2 columns]

16. Seleccion del top 1 de plataforma mas usada

In [24]:
cons_16 = pd.read_sql_query("SELECT TOP 1 App, COUNT(App) as Total FROM Tweets_Detalle GROUP BY App ORDER BY Total DESC", conn)
cons_16

               App  Total
0  Twitter Web App    997

17. Seleccion del top 1 de la plataforma menos usada

In [25]:
cons_17 = pd.read_sql_query("SELECT TOP 1 App, COUNT(App) as Total FROM Tweets_Detalle GROUP BY App ORDER BY Total ASC", conn)
cons_17

             App  Total
0  DictatorRadar      1

18. Seleccion del Tweet con mas retweets

In [26]:
cons_18 = pd.read_sql_query("SELECT t.TweetText, t.Date_Tweet FROM Tweets_Detalle td INNER JOIN Tweets t on t.TweetID = td.TweetID WHERE Retweets = (SELECT MAX(Retweets) FROM Tweets_Detalle)", conn)
cons_18

                                           TweetText  Date_Tweet
0  Trump talks to Putin regularly and is recorded...  2020-08-11

19. Seleccion de los tweets entre los días lunes 10 de agosto y martes 11 de agosto del 2020

In [27]:
cons_19 = pd.read_sql_query("SELECT TweetText FROM Tweets WHERE Date_Tweet BETWEEN '08-10-2020' AND '08-12-2020'", conn)
cons_19

                                              TweetText
0     Putin s daughter taking a new vaccine is as pr...
1     This is a Republican using the military to pan...
2     This whole thing reminds me of an episode of T...
3      LyingTed knew He s just earning the money Put...
4     Hopefully Drumpf will and maybe sit in on a th...
...                                                 ...
2891                                   Not today Putin
2892  ohhhhhhhh putin RT Samsinho Notre voiture a br...
2893  HaHaHaHa Vladimir Putin You GO Boy KremlinRuss...
2894  Putin tRump RT smc GOPChairwoman GOP BountyGat...
2895  Oops and the out of this people are Putin s da...

[2896 rows x 1 columns]

In [28]:
# Cerramos todas las conexiones
cursor.close()
conn.close()