<h1 align="center"><b>Modelo Estructurado de Datos</b>
<hr>

## Instalación de paquetes necesarios para la conexión a la base de datos desde Python

1. Instalación de instancias de Microsoft SQL Server 2017 para Linux
> Para poder conectarnos a una base de datos alojada en SQL SERVER (Microsoft) será necesario instalar ciertos paquetes necesarios, uno de ellos es la instancia a MSSQL 2017

In [1]:
#Crear e instalar instancia de Microsoft SQL Server 2017 para Linux
%%sh
curl https://packages.microsoft.com/keys/microsoft.asc | apt-key add -
curl https://packages.microsoft.com/config/ubuntu/16.04/prod.list > /etc/apt/sources.list.d/mssql-release.list
sudo apt-get update
sudo ACCEPT_EULA=Y apt-get -q -y install msodbcsql17

OK
Get:1 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran35/ InRelease [3,626 B]
Get:2 https://packages.microsoft.com/ubuntu/16.04/prod xenial InRelease [4,003 B]
Ign:3 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:4 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 Packages [169 kB]
Ign:5 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:6 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [697 B]
Get:7 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Hit:8 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:12 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:13 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages
Get:14 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [255 kB]
Get:15 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic InRelease [15.4 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [882 kB]
Get:17 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main Sources [1,856 kB]
Get:18 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:19 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [1,413 kB]
Get:20 http://security.ubuntu.com/ubuntu bionic-security/multiverse amd64 Packages [9,558 B]
Get:21 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [1,038 kB]
Get:22 http://archive.ubuntu.com/ubuntu bionic-updates/multiverse amd64 Packages [27.1 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [116 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [1,334 kB]
Get:25 http://ppa.launchpad.net/marutter/c2d4u3.5/ubuntu bionic/main amd64 Packages [895 kB]
Fetched 8,273 kB in 5s (1,582 kB/s)
Reading package lists...
Reading package lists...
Building dependency tree...
Reading state information...
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'sudo apt autoremove' to remove it.
The following additional packages will be installed:
  libodbc1 odbcinst odbcinst1debian2 unixodbc
Suggested packages:
  unixodbc-bin
The following NEW packages will be installed:
  msodbcsql17 unixodbc
The following packages will be upgraded:
  libodbc1 odbcinst odbcinst1debian2
3 upgraded, 2 newly installed, 0 to remove and 54 not upgraded.
Need to get 1,420 kB of archives.
After this operation, 191 kB of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 libodbc1 amd64 2.3.7 [511 kB]
Get:2 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 odbcinst amd64 2.3.7 [12.0 kB]
Get:3 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 odbcinst1debian2 amd64 2.3.7 [135 kB]
Get:4 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 unixodbc amd64 2.3.7 [19.6 kB]
Get:5 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 msodbcsql17 amd64 17.6.1.1-1 [743 kB]
Fetched 1,420 kB in 0s (7,938 kB/s)
(Reading database ... 144487 files and directories currently installed.)
Preparing to unpack .../libodbc1_2.3.7_amd64.deb ...
Unpacking libodbc1:amd64 (2.3.7) over (2.3.4-1.1ubuntu3) ...
Preparing to unpack .../odbcinst_2.3.7_amd64.deb ...
Unpacking odbcinst (2.3.7) over (2.3.4-1.1ubuntu3) ...
Preparing to unpack .../odbcinst1debian2_2.3.7_amd64.deb ...
Unpacking odbcinst1debian2:amd64 (2.3.7) over (2.3.4-1.1ubuntu3) ...
Selecting previously unselected package unixodbc.
Preparing to unpack .../unixodbc_2.3.7_amd64.deb ...
Unpacking unixodbc (2.3.7) ...
Selecting previously unselected package msodbcsql17.
Preparing to unpack .../msodbcsql17_17.6.1.1-1_amd64.deb ...
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76.)
debconf: falling back to frontend: Readline
Unpacking msodbcsql17 (17.6.1.1-1) ...
Setting up libodbc1:amd64 (2.3.7) ...
Setting up odbcinst1debian2:amd64 (2.3.7) ...
Setting up odbcinst (2.3.7) ...
Setting up unixodbc (2.3.7) ...
Setting up msodbcsql17 (17.6.1.1-1) ...
Processing triggers for libc-bin (2.27-3ubuntu1) ...
/sbin/ldconfig.real: /usr/local/lib/python3.6/dist-packages/ideep4py/lib/libmkldnn.so.0 is not a symbolic link

Processing triggers for man-db (2.8.3-2ubuntu0.1) ...

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0Warning: apt-key output should not be parsed (stdout is not a terminal)
100   983  100   983    0     0   6732      0 --:--:-- --:--:-- --:--:--  6732
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100    79  100    79    0     0    790      0 --:--:-- --:--:-- --:--:--   790
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 5.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:

2. Añadiendo paquetes ODBC para poder realizar las conexiones a la base de datos
> Este paquete nos permite crear una implementación de Open DataBases en Linux, de tal manera que nos podremos conectar a cualquier instancia de base de datos en cualquier servidor

In [2]:
# Añadir paquetes de ODBC para Linux
!sudo apt-get install unixodbc-dev

Reading package lists... Done
Building dependency tree
Reading state information... Done
The following package was automatically installed and is no longer required:
  libnvidia-common-440
Use 'sudo apt autoremove' to remove it.
The following NEW packages will be installed:
  unixodbc-dev
0 upgraded, 1 newly installed, 0 to remove and 54 not upgraded.
Need to get 37.1 kB of archives.
After this operation, 1,739 kB of additional disk space will be used.
Get:1 https://packages.microsoft.com/ubuntu/16.04/prod xenial/main amd64 unixodbc-dev amd64 2.3.7 [37.1 kB]
Fetched 37.1 kB in 0s (358 kB/s)
debconf: unable to initialize frontend: Dialog
debconf: (No usable dialog-like program is installed, so the dialog based frontend cannot be used. at /usr/share/perl5/Debconf/FrontEnd/Dialog.pm line 76, <> line 1.)
debconf: falling back to frontend: Readline
debconf: unable to initialize frontend: Readline
debconf: (This frontend requires a controlling tty.)
debconf: falling back to frontend: Teletype
dpkg-preconfigure: unable to re-open stdin:
Selecting previously unselected package unixodbc-dev.
(Reading database ... 144481 files and directories currently installed.)
Preparing to unpack .../unixodbc-dev_2.3.7_amd64.deb ...
Unpacking unixodbc-dev (2.3.7) ...
Setting up unixodbc-dev (2.3.7) ...

3. Instalación del paquete PYODBC
> Este paquete nos permitirá crear una instancia a la base de datos, además de permitirnos usar los objetos Cursor, para poder realizar consultas, inserciones, eliminaciones, actualizaciones, a cualquier tabla, desde el notebook con Python.

In [3]:
# Instala el paquete de pyodbc para conectarnos y usar la base de datos desde python
!pip install pyodbc

Collecting pyodbc
  Downloading https://files.pythonhosted.org/packages/81/0d/bb08bb16c97765244791c73e49de9fd4c24bb3ef00313aed82e5640dee5d/pyodbc-4.0.30.tar.gz (266kB)
     |████████████████████████████████| 276kB 2.8MB/s
Building wheels for collected packages: pyodbc
  Building wheel for pyodbc (setup.py) ... done
  Created wheel for pyodbc: filename=pyodbc-4.0.30-cp36-cp36m-linux_x86_64.whl size=272718 sha256=d80d9067c7e013cbe8b819f2ec23f9ea18d76c9fed6dd963d52aa631a95086df
  Stored in directory: /root/.cache/pip/wheels/4a/02/ba/6b495fec7cb127583a769a74f3ba91eb700d73e25fbb5ba09b
Successfully built pyodbc
Installing collected packages: pyodbc
Successfully installed pyodbc-4.0.30

## Conexión a la Base de Datos

1. Creación de un objeto conexión y uso del objeto Cursor
> El primer paso para realizar una conexión a la base de datos es crear un objeto pyodbc el cual hará la conexión al servidor a través de su método CONNECT, el cual recibe como parametros: El driver de la base de datos (instalada la instancia previamente), el servidor que aloja la base de datos, el nombre de la base de datos o esquema, el usuario, contraseña y puerto.

In [66]:
import pandas as pd
import pyodbc
#Es un servidor propio de Rodrigo Quilcat Pesantes en AWS
#Por favor de no hackearlo ni hacer uso sin autorización
conn = pyodbc.connect('DRIVER={ODBC Driver 17 for SQL Server};'
                      'Server=m1-metropolitano.cr1mpbwkf46h.us-east-2.rds.amazonaws.com;'
                      'Database=Mainframes;'
                      'UID=mainframes;'
                      'PWD=upao2020;'
                      'TDS_Version=8.0;'
                      'Port=1433;')
cursor = conn.cursor()

## Implementación de la base de datos

### Primera forma: Creando las tablas con un Cursor

1. Creación de la tabla de Usuarios de Twitter

In [49]:
users_table = "create table Usuarios(ScreenName varchar(100) NOT NULL PRIMARY KEY, FullName varchar(100))"
cursor.execute(users_table)
conn.commit()

2. Creación de la tabla de Usuarios de Twitter Detalle

In [50]:
users_detail_table = "create table Usuarios_Detalle(ScreenName VARCHAR(100) FOREIGN KEY REFERENCES Usuarios(ScreenName), Followers INT, Follows INT, UserSince DATE, Location VARCHAR(200), Bio VARCHAR(MAX))"
cursor.execute(users_detail_table)
conn.commit()

3. Creación de la tabla de Tweets

In [51]:
tweets_table = "create table Tweets (Date_Tweet DATE, TweetText VARCHAR(MAX), TweetID BIGINT NOT NULL PRIMARY KEY, ScreenName varchar(100) FOREIGN KEY REFERENCES Usuarios(ScreenName))"
cursor.execute(tweets_table)
conn.commit()

4. Creación de la tabla de Tweets Detalle

In [52]:
tweets_detail_table = "create table Tweets_Detalle(TweetID BIGINT FOREIGN KEY REFERENCES Tweets(TweetID),Retweets INT, Favorites INT, App VARCHAR(100))"
cursor.execute(tweets_detail_table)
conn.commit()

5. Comprobación de que se crearon correctamente las tablas

In [67]:
query_test = pd.read_sql_query("SELECT * FROM Tweets_Detalle", conn)
query_test

                  TweetID  Retweets  Favorites                  App
0     1293673804787593216         0          0     Twitter for iPad
1     1293673783165882374         0          0      Twitter Web App
2     1293673750408433667         1          1      Twitter Web App
3     1293673745148764160         0          0   Twitter for iPhone
4     1293673669236002819         0          0  Twitter for Android
...                   ...       ...        ...                  ...
2891  1293262676597112832         0          0  Twitter for Android
2892  1293262673883410432         0          0      Twitter Web App
2893  1293262671559536640         0          1      Twitter Web App
2894  1293262667969449987         1          2  Twitter for Android
2895  1293262667285778434         0          0   Twitter for iPhone

[2896 rows x 4 columns]

In [68]:
query_test2 = pd.read_sql_query("SELECT * FROM Tweets", conn)
query_test2

      Date_Tweet  ...        ScreenName
0     2020-08-11  ...      @Pagecamper1
1     2020-08-11  ...   @DebbieNunn1234
2     2020-08-11  ...    @darthyoshiboy
3     2020-08-11  ...    @SevereSeverus
4     2020-08-11  ...  @markgoo80547801
...          ...  ...               ...
2891  2020-08-12  ...   @AnthonyAggie17
2892  2020-08-12  ...        @assouu___
2893  2020-08-12  ...  @PrincessBibiRF_
2894  2020-08-12  ...     @kz1300a4_lee
2895  2020-08-12  ...      @geometryfan

[2896 rows x 4 columns]

In [69]:
query_test3 = pd.read_sql_query("SELECT * FROM Usuarios", conn)
query_test3

          ScreenName                                        FullName
0         @__imritik                                        Ritikkrm
1         @_1_last_1                                           Binod
2     @_abdul_hadi_1                                      Abdul hadi
3           @_BeHuda                                     MaalKin­ƒìü
4           @_dhays2                                         D. Hays
...              ...                                             ...
2670    @ZoltanneUSA                                        Zoltanne
2671    @zombiwombat                            The Masked Prevenger
2672     @ZoPlaatjie                                        Mbathane
2673   @zuuliebullie  Zuul ­ƒîè ­ƒç¦­ƒç©There is no tRUMP, only Zuul
2674     @ZZBottomHL                                     foneco zuzu

[2675 rows x 2 columns]

In [70]:
query_test4 = pd.read_sql_query("SELECT * FROM Usuarios_Detalle", conn)
query_test4

            ScreenName  ...                                                Bio
0         @geometryfan  ...                                               None
1        @kz1300a4_lee  ...                                               None
2     @PrincessBibiRF_  ...  International Buyer with Patents, Business, Ma...
3           @assouu___  ...               Je sais qui sont les fakes.21 yr­ƒÄé
4      @AnthonyAggie17  ...  FTA Class of 2017 | Army Engineer | Married up...
...                ...  ...                                                ...
2891  @markgoo80547801  ...  I'm an Architect practicing in South Florida a...
2892    @SevereSeverus  ...  Husband, gay, liberal Masketeer and part of th...
2893    @darthyoshiboy  ...                                               None
2894   @DebbieNunn1234  ...  I won't be happy until Trump is out of our Whi...
2895      @Pagecamper1  ...  Rover, Wanderer, Nomad, Vagabond, call me what...

[2896 rows x 6 columns]

In [58]:
# Cerramos todas las conexiones
cursor.close()
conn.close()

### Segunda Forma: Ejecuntado un archivo .sql (Implementación y Poblamiento)

### Creación de los archivos .csv para el llenado de tablas

1. Del dataset obtenido en la fase de Recolección

In [18]:
#Se puede subir el archivo directamente
from google.colab import files
uploaded = files.upload()

Saving covid_russia_vaccine_twits.csv to covid_russia_vaccine_twits.csv

In [19]:
#data = pd.read_csv(../Codigo/Datos/covid_russia_vaccine_twits.csv)
data = pd.read_csv('covid_russia_vaccine_twits.csv')
data.head(1)

               Date   Screen Name     Full Name  ... Website  Timezone Profile Image
0  12/08/2020 17:20  @geometryfan  Geometry Fan  ...     NaN       NaN          View

[1 rows x 21 columns]

2. Creamos diferentes dataframes por cada tabla de nuestra base de datos y a su vez las columnas correspondientes

In [29]:
usuarios = pd.DataFrame(data[['Screen Name', 'Full Name']])
usuarios_detalle = pd.DataFrame(data[['Screen Name', 'Followers', 'Follows', 'User Since', 'Location.1', 'Bio']])
tweets = pd.DataFrame(data[['Date', 'Tweet Text', 'Tweet ID', 'Screen Name']])
tweets_detalle = pd.DataFrame(data[['Tweet ID', 'Retweets', 'Favorites', 'App']])

3. Limpiamos los usuarios para que sean unicos, y quitamos los punto y coma de los tweets para evitar errores en el separador del csv

In [44]:
usuarios_clean = usuarios.drop_duplicates(usuarios.columns[usuarios.columns.isin(['Screen Name'])], keep='first')
tweets_clean = tweets['Tweet Text'].str.replace('[^a-zA-Z]+',' ')
tweets['Tweet Text'] = tweets_clean

4. Escribimos archivos .csv separados por ; para hacer el BULK desde SQL

In [45]:
tweets.to_csv('tweets.csv', index=False, sep=";")

In [32]:
usuarios_clean.to_csv('usuarios.csv', index=False, sep=";")

In [30]:
usuarios_detalle.to_csv('usuarios_detalle.csv', index=False, sep=";")
tweets_detalle.to_csv('tweets_detalle.csv', index=False, sep=";")

5. Una vez generado el script del schema and data de la base de datos, ejecutamos el sql file con pyodbc

In [47]:
#Se puede subir el archivo directamente sql
from google.colab import files
uploaded = files.upload()

Saving M1SQLPoblacion.sql to M1SQLPoblacion.sql

In [ ]:
#with open('M1SQLPoblacion.sql', 'r', encoding='utf-8',errors='ignore') as inserts:
  #for statement in inserts:
    #print(statement)
    #cursor.execute(statement)

In [65]:
# Cerramos todas las conexiones
cursor.close()
conn.close()